<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
	
	<!-- 扫描组件 -->
	<context:component-scan base-package="com.woniu"></context:component-scan>
	
	<!-- 生成数据源 -->
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
		<property name="url" value="jdbc:mysql://localhost:3306/stock?characterEncoding=UTF-8&amp;serverTimezone=UTC"></property>
		<property name="username" value="root"></property>
		<property name="password" value="123456"></property>
	</bean>
	
	<!-- 生成BeanFactory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="hibernateProperties">
			<props>
				<prop key="show_sql">true</prop>
				<prop key="format_sql">true</prop>
				<prop key="dialect">org.hibernate.dialect.MySQL5Dialect</prop>
			</props>
		</property>
		<property name="mappingLocations">
			<list>
				<value>classpath:com/woniu/pojo/Attendance.hbm.xml</value>
				<value>classpath:com/woniu/pojo/Attendancerecord.hbm.xml</value>
				<value>classpath:com/woniu/pojo/Clazz.hbm.xml</value>
				<value>classpath:com/woniu/pojo/Level.hbm.xml</value>
				<value>classpath:com/woniu/pojo/Role.hbm.xml</value>
				<value>classpath:com/woniu/pojo/Scorerecord.hbm.xml</value>
				<value>classpath:com/woniu/pojo/Scoreresult.hbm.xml</value>
				<value>classpath:com/woniu/pojo/Student.hbm.xml</value>
				<value>classpath:com/woniu/pojo/User.hbm.xml</value>
				<value>classpath:com/woniu/pojo/UserRole.hbm.xml</value>
			</list>
		</property>
	</bean>
	
	<!-- 声明事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- 声明事务 -->
	<tx:annotation-driven/>
</beans>
